// font colors
$color1 : #FFFFFF;
$color2 : #F1F3CE;
$color3 : #000000;
// background-gradient
$colorBg1 : #011A27;
$colorBg2 : #063852;

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Indie Flower', cursive;
}
body{
    height: 100%;
    background: $colorBg2;
    background: -webkit-linear-gradient(bottom, $colorBg1, $colorBg2);
    background: -o-linear-gradient(bottom, $colorBg1, $colorBg2);
    background: linear-gradient(to top, $colorBg1, $colorBg2);
}

.wrap{
    // border: 1px solid black;
    margin: 0 auto;
    width: 1000px;
}

header .headerLogo{
    color: $color1;
    text-align: center;
    font-size: 50px;
    letter-spacing: 6px;
    padding: 30px;
    text-shadow: 7px 7px 30px $color3;
}

main{
    text-align: center;
    min-height: 558px;
}
.wrapCountrySerch{
    padding: 15px;
    input{
        height: 40px;
        width: 350px;
        border: none;
        padding-left: 10px;
        box-shadow: 8px 8px 8px $color3;
    }
    label{
        display: block;
        color: $color2;
        font-size: 18px;
        padding-bottom: 8px;

    }

}
.countryInfo {
    padding: 25px;
}


.countryInfo ul {
    list-style-type: none;
    color: $color2;
     li {
        min-height: 30px;
        font-size: 17px;
        text-shadow: 7px 7px 30px $color3;
        &:first-of-type {
            color: $color2;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: bold;
        }
        img{
            height: 215px;
            width: 380px;
        }
    }
}


footer{
    color: $color1;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}
