*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Indie Flower', cursive;

}
body{
    height: 100%;
    background: #2980b9;
    background: -webkit-linear-gradient(bottom, #2980b9, #2c3e50);
    background: -o-linear-gradient(bottom, #2980b9, #2c3e50);
    background: linear-gradient(to top, #011A27, #063852);
}

.wrap{
    // border: 1px solid black;
    margin: 0 auto;
    width: 1000px;
}

header .headerLogo{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    letter-spacing: 6px;
    padding: 30px;
    text-shadow: 7px 7px 30px #000000;
}

main{
    text-align: center;
}
.wrapCountrySerch{
    padding: 15px;
    input{
        height: 40px;
        width: 350px;
        border: none;
        padding-left: 10px;
        box-shadow: 8px 8px 8px #000;
    }

}
.countryInfo {
    padding: 25px;
}


.countryInfo ul {
    list-style-type: none;
    color: #F1F3CE;
     li {
        min-height: 30px;
        font-size: 17px;
        text-shadow: 7px 7px 30px #000000;
        &:first-of-type {
            color: #F1F3CE;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: bold;
        }
        img{
            height: 215px;
            width: 380px;
        }
    }
}


footer{
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}
